coverage~=5.5
flake8~=3.9.2
geopandas~=0.9.0
loguru~=0.5.3
loguru-caplog~=0.2.0
mypy~=0.910
numpy~=1.21.2
openpyxl~=3.0.7
pandas~=1.2.4
pylint~=2.7.4
pytest~=6.2.4
pytest-cov~=2.12.1
pyyaml~=5.4.1
rtree~=0.9.7
seaborn~=0.11.1
setuptools~=56.2.0
xlrd~=2.0.1
